#background-img {
  position: fixed;
  top: 0;
  background: gray url('./assets/Port-bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#section1 {
  padding: 150px 0 0 50px;
  width: 700px;
  height: 100vh;
}

.card {
  width: 400px;
}

#section3 {
  width: 700px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  #section1 {
    width: 300px;
  }

  .card {
    width: 300px;
  }
  
  #section3 {
    width: 300px;
  }
}
